[Unit]
Description=SR's magically munged hostapd
#More randomness is required for WPA
After=haveged.service
After=dnsmasq.service

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStart=/usr/bin/sr-hostapd /tmp/mount/robot.zip

[Install]
WantedBy=wifi.target
